<a href="https://colab.research.google.com/github/AatiqahHarmine/2303A51860_B30_PDS/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question - 5

In [3]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'city': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles']
})

transactions = pd.DataFrame({
    'transaction_id': [101, 102, 103, 104, 105, 106, 107],
    'customer_id': [1, 2, 1, 3, 4, 5, 2],
    'amount': [120, 250, 300, 150, 200, 180, 100]
})

merged_df = pd.merge(transactions, customers, on='customer_id', how='inner')
customer_spend = merged_df.groupby(['customer_id', 'name'])['amount'].sum().reset_index()
customer_spend = customer_spend.rename(columns={'amount': 'total_spend'})
city_spend = merged_df.groupby('city')['amount'].sum().reset_index()
city_spend = city_spend.rename(columns={'amount': 'total_city_spend'})

top_spender = customer_spend.sort_values(by='total_spend', ascending=False).head(1)

print("Merged Dataset:\n", merged_df, "\n")
print("Customer Spend:\n", customer_spend, "\n")
print("City-wise Spend:\n", city_spend, "\n")
print("Top Spender:\n", top_spender, "\n")

Merged Dataset:
    transaction_id  customer_id  amount     name         city
0             101            1     120    Alice     New York
1             102            2     250      Bob  Los Angeles
2             103            1     300    Alice     New York
3             104            3     150  Charlie     New York
4             105            4     200    David      Chicago
5             106            5     180      Eva  Los Angeles
6             107            2     100      Bob  Los Angeles

Customer Spend:
    customer_id     name  total_spend
0            1    Alice          420
1            2      Bob          350
2            3  Charlie          150
3            4    David          200
4            5      Eva          180

City-wise Spend:
           city  total_city_spend
0      Chicago               200
1  Los Angeles               530
2     New York               570

Top Spender:
    customer_id   name  total_spend
0            1  Alice          420

#Question - 6

In [5]:
import pandas as pd

patients = pd.DataFrame({
    'patient_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [34, 45, 29, 60, 50]
})

appointments = pd.DataFrame({
    'appointment_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'patient_id': [1, 2, 1, 3, 4, 5, 2, 2],
    'doctor': ['Dr. Smith', 'Dr. Lee', 'Dr. Smith', 'Dr. Lee', 'Dr. Brown', 'Dr. Smith', 'Dr. Brown', 'Dr. Lee'],
    'date': pd.to_datetime([
        '2023-01-01', '2023-01-02', '2023-01-10', '2023-01-11',
        '2023-01-15', '2023-01-18', '2023-01-20', '2023-01-25'
    ])
})

merged_df = pd.merge(appointments, patients, on='patient_id', how='inner')

patient_visits = merged_df.groupby(['patient_id', 'name'])['appointment_id'].count().reset_index()
patient_visits = patient_visits.rename(columns={'appointment_id': 'num_visits'})

doctor_workload = merged_df.groupby('doctor')['appointment_id'].count().reset_index()
doctor_workload = doctor_workload.rename(columns={'appointment_id': 'num_appointments'})

top_patient = patient_visits.sort_values(by='num_visits', ascending=False).head(1)

print("Merged Dataset:\n", merged_df, "\n")
print("Patient Visits:\n", patient_visits, "\n")
print("Doctor Workload:\n", doctor_workload, "\n")
print("Top Patient (most visits):\n", top_patient, "\n")

Merged Dataset:
    appointment_id  patient_id     doctor       date     name  age
0             101           1  Dr. Smith 2023-01-01    Alice   34
1             102           2    Dr. Lee 2023-01-02      Bob   45
2             103           1  Dr. Smith 2023-01-10    Alice   34
3             104           3    Dr. Lee 2023-01-11  Charlie   29
4             105           4  Dr. Brown 2023-01-15    David   60
5             106           5  Dr. Smith 2023-01-18      Eva   50
6             107           2  Dr. Brown 2023-01-20      Bob   45
7             108           2    Dr. Lee 2023-01-25      Bob   45

Patient Visits:
    patient_id     name  num_visits
0           1    Alice           2
1           2      Bob           3
2           3  Charlie           1
3           4    David           1
4           5      Eva           1

Doctor Workload:
       doctor  num_appointments
0  Dr. Brown                 2
1    Dr. Lee                 3
2  Dr. Smith                 3

Top Patient (most visits):
    patient_id name  num_visits
1           2  Bob           3